*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: blanchedalmond;
}

.btn-container{
  height: 60vh;
  width: 60%;
  background-color: black;
  margin: 24px auto;
}

button{
  background-color: black;
  color: white;
  font-size: 24px;
  border: 1px solid white;
  padding: 2px 5px;
  margin: 28px 28px;
  height: 37px;
  width: 37px;
}

button:hover{
  cursor: pointer;
  background-color: antiquewhite;
  color: black;
  border-radius: 50%;
}