*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: blanchedalmond;
}

.btn-container{
  height: 60vh;
  width: 60%;
  background-color: black;
  margin: 24px auto;
}

button{
  background-color: rgb(6, 133, 101);
  color: white;
  font-size: 30px;
  border: none white;
  padding: 2px 5px;
  margin: 28px 28px;
  height: 37px;
  width: 37px;
}

button:hover{
  cursor: pointer;
  background-color: rgb(67, 247, 172);
  color: black;
  border-radius: 50%;
}

.clear-btn{
  width: 110px;
  margin: 21px auto;
  display: block;
}

.display{
  background-color: black;
  color: white;
  width: 450px;
  height: 60px;
  margin: 24px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
}